.vl {
    border-left: 1px solid rgb(163, 161, 161);
    height: 110px;
    margin-left: 20px;
    margin-right: 20px;
}

.logoh {
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: 4px;
}

.heart {
    margin-left: 0;
    margin-right: 30px;
}
.compass {
    margin-right: 40px;
}


.lineh {
    margin-top: 0px;   
}