.logincard {
    margin-top : 10%;
    margin-left: 30%;
    width : 40%;
    border-radius:0 !important;
}

.logo {
    width : 40%;
    margin-top: 6%;
    margin-left: 30%;
    margin-bottom: 6%;
}

.form {
    margin-left: 15%;
    width:70% !important;
    margin-bottom: 3%;
    font-size: 40% ;
    height: 100% !important;
    border-radius: 0px !important;
    background-color:rgb(243, 243, 243) !important;
}

.submit {
    margin-left: 15%;
    width : 70% !important;
    height: 10%;
    margin-bottom: 2%;
}
h6 {
    overflow: hidden;
    text-align: center;
}
h6:before,
h6:after {
    background-color: #c3c6cc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;

}
h6:before {
    right: 0.5em;
    margin-left: -50%;
}
h6:after {
    left: 0.5em;
    margin-right: -50%;
}
.timeline {
  color: #c3c6cc;
}
.line  {
    width : 85% !important;
}
.fb {
    margin-left :30%;
    margin-right: 2%;
}

.fbtext {
    color: rgb(60, 60, 145);
    display: inline;
}